<section class="todoapp">
<header class="header">
	<!-- the main heder with input tag  -->
	<h1>Todo MVC angular</h1>
		<form id="todo-form" ng-submit="addTodo()">
			<input id="new-todo" placeholder="What needs to be done?"
			[(ngModel)]="newTodoText" (keyup.enter)="addTodo()" ng-model="newTask" ng-disabled="saving" autofocus="">
		</form>
</header>
<section id="main" ngIf="todoStore.todos.length > 0">
	<input class="toggle-all" type="checkbox" *ngIf="todoStore.todos.length" #toggleall [checked]="todoStore.allCompleted()" >

			<ul id="todo-list">
					<li *ngFor="let todo of todoStore.todos" [class.completed]="todo.completed" [class.editing]="todo.editing">

						<div class="view">
							<input class="toggle" type="checkbox" (click)="toggleCompletion(todo)" [checked]="todo.completed">
							<label (dblclick)="editTodo(todo)">{{todo.title}}</label>
							<button class="destroy" (click)="remove(todo)"></button>
						</div>

						<input class="edit" *ngIf="todo.editing" [value]="todo.title" #editedtodo (blur)="stopEditing(todo, editedtodo.value)" (keyup.enter)="updateEditingTodo(todo, editedtodo.value)" (keyup.escape)="cancelEditingTodo(todo)">
				</li>
			</ul>
</section>
</section>
