<div class="col-md-12">
    <div class="center" style="width:500px;">
        <div class="col-md-12">
            <h1>
            TodoMVC angular
            </h1>
        </div>
        <div class="col-md-12">
            <div class="col-md-12 form-group">
                <form id="todo-form" ng-submit="addTodo()">
                <input type="text" ng-model="newTask" class="form-control" placeholder="What do you want to accomplish today">
                </form>
            </div>
        </div>
       <div class="col-md-12">
           <ul class="list-group">
               <li class="list-group-item blocked" ng-repeat="todo in todos">
                   <div class="col-md-12">
                       <div class="col-md-7">
                           {{todo.title}}
                       </div>
                       <div class="col-md-5">
                           <div class="input-group">
                               <input type="radio" id="complete" name="status" ng-checked="{{todo.complete}}">
                               <label>complete</label>
                           </div>
                       </div>
                   </div>
               </li>
           </ul>

           <div class="col-md-12">
               <div class="btn btn-primary"> All </div>
               <div class="btn btn-primary"> Completed </div>
           </div>
       </div>
    </div>
</div>
